// General
$spacing_small: 5px;
$border_radius_small: 5px;

// Label
$color_label_enabled: #bdbec0;
$color_label_disabled: #77787b;
$color_label_link: #57b1ff;
$color_label_shadow_enabled: #080808;
$color_label_shadow_disabled: #383838;

// Mixins
@mixin linear_gradient($fromColor: black, $toColor: white, $angle: 0deg) {
  background: linear-gradient($angle, $fromColor 0, $toColor 100%);
}

@mixin button_border($isDown: false) {
  &:before {
    content: "";
    position: absolute;
    border-radius: $border_radius_small;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    @if $isDown {
      border: 1px solid #444;
      border-left-color: #444;
      border-right-color: #444;
      border-bottom-color: #999;
      top: 1px;
      left: 1px;
    } @else {
      border: 1px solid #999;
      border-left-color: #555;
      border-right-color: #555;
      border-bottom-color: #444;
    }
  }
}

@mixin focus {
  outline: 1px solid #477092;
}

@mixin label {
  box-sizing: border-box;
  user-select: none;
  color: $color_label_enabled;
  text-shadow: 1px 1px 1px $color_label_shadow_enabled;
  font-size: 12px;
  white-space: nowrap;
}

@mixin label_disabled {
  color: $color_label_disabled;
  text-shadow: 1px 1px 1px $color_label_shadow_disabled;
}
